<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hj.mapper.MeBoardMapper">
    
    <resultMap id="boardResultMap" type="org.hj.model.MeBoardVO">
        <id property="o_no" column="o_no"/>
        <result property="o_id" column="o_id"/>
        <result property="o_address" column="o_address"/>
        <result property="p_no" column="p_no"/>
        <result property="o_num" column="o_num"/>
        <result property="o_Total" column="o_Total"/>
        <result property="o_date" column="o_date"/>
        <result property="o_permit" column="o_permit"/>
    </resultMap>
    
    <insert id="insertBoard" parameterType="org.hj.model.MeBoardVO">
        INSERT INTO public_schema.OrderList (o_no, o_id, o_address, p_no, o_num, o_Total, o_date, o_permit)
        VALUES (#{o_no}, #{o_id}, #{o_address}, #{p_no}, #{o_num}, #{o_Total}, #{o_date}, #{o_permit})
    </insert>
    
    <update id="updateBoard" parameterType="org.hj.model.MeBoardVO">
        UPDATE public_schema.OrderList
        SET o_id = #{o_id}, o_address = #{o_address}, p_no = #{p_no}, o_num = #{o_num},
            o_Total = #{o_Total}, o_date = #{o_date}, o_permit = #{o_permit}
        WHERE o_no = #{o_no}
    </update>
    
    <select id="getBoardById" resultMap="boardResultMap" parameterType="int">
        SELECT * FROM public_schema.OrderList WHERE o_no = #{o_no}
    </select>
    
    <select id="getAllBoards" parameterType="string" resultMap="boardResultMap">
    SELECT * FROM public_schema.OrderList
    WHERE o_id = #{userId}
</select>

    <select id="getOrder" parameterType="map" resultType="org.hj.model.MeBoardVO">
    SELECT * FROM public_schema.OrderList WHERE o_no = #{o_no} AND p_no = #{p_no}
</select>
    
    <select id="getAllOrders" resultType="org.hj.model.MeBoardVO">
       SELECT * FROM public_schema.OrderList WHERE o_no = #{o_no} AND p_no = #{p_no}
    </select>
</mapper>
