@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

main {
    width: 1440px;
    margin: 0 auto;
}

.main_title{
    margin: 40px 0;
}

.title {
    margin-bottom: 10px;
}

.order_date {
    border-top: 1px solid #999999;
    padding: 5px 0 5px 25px;
}

.order_item_info_container {
    display: flex;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.item_photo {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 10px 50px 10px 25px;
}

.item_photo img {
    width: 100%;
    height: 100%;
}

.item_info_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    margin: 10px 0;
}

.item_name {
    color: #000;
}

.serial_number,
.price_area,
.item_name_price_container div {
    display: flex;
}

.serial_number {
    font-weight: bold;
}

.selected_option,
.item_numbers {
    font-size: 0.8em;
    color: #999999;
}

.price_area {
    font-weight: bold;
}

.benefit_and_delivery_process {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    margin: 15px 50px 15px 0;
    text-align: center;
}

.benefit_and_delivery_process div:not(.saving_point_text) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.saving_point_area div {
    display: flex;
}

.saving_point_text,
.delivery_porcess_link,
.detail_link {
    transform: translateY(-120%);
}

.benefit_and_delivery_process_title  {
    font-weight: bold;
}

.move_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
    border-top: 1px solid #999;
    padding-top: 20px;
}

.move_page a {
    text-decoration: none;
    color: #999;
    padding: 20px;
}

.move_page a:hover {
    color: #0079e9;
    font-weight: bold;
}

.page_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.delivery_porcess_link,
.detail_link{
    color: #999;
    font-size: 0.9em;
}
.delivery_porcess_link:hover,
.detail_link:hover{
    color: #0079e9;
}

.check_container{
    margin: 40px 0;
    border-bottom: 3px solid #000;
}

.user_info{
    display: flex;
    gap: 20px;
}
.order_info{
    display: grid;
    align-items: center;
    grid-template-columns: 180px 1fr;
    width: 100%;
}

.order_info p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px 0;
}
.order_info input{
    height: 40px;
    margin: 10px 0;
}

.order_info_container{
    width: 40%;
    margin: 0 auto 10px auto;
    border-top: 3px solid #000;
    padding-top: 5px;
}

.receiver_info_area{
    border-top: 3px solid #000;
    padding-top: 5px;
}

.same{
    display: flex;
    justify-content: space-between;
}

.receiver_info{
    display: grid;
    grid-template-columns: 180px 1fr;
    width: 100%;
}

.receiver_info p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px 0;
}
.receiver_info input{
    height: 40px;
    margin: 10px 0;
}
.address_container{
    display: flex;
    gap: 10px;
}
.zip_cord{
    width: 30%;
}
.address{
    width: 70%;
}
.discount_area{
    width: 30%;
    border-top: 3px solid #000;

    padding-top: 5px;
}
.coupon_point{
    display: grid;
    border-bottom: 3px solid #000;
}
.coupon, .point{
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    width: 100%;
}
.coupon_point input{
    margin: 10px 0;
}
.coupon select{
    width: 100%;
    height: 40px;
    font-size: 0.9em;
    text-align: center;
    margin: 10px 0;
}
.use_coupon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.use_coupon button{
    width: 100%;
    height: 40px;
    margin: 10px 0 20px 0;
    right: 0;
}

.check{
    padding-top: 5px;
    width: 30%;
    border-top: 3px solid #000;
}

.check h3:not(.title, .item_price_area h3) {
    margin: 20px 0;
}
.delivery_period{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100px;
    border: 3px solid #0079e9;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}
.reference{
    padding-left: 25px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #999;
}

.reference ol{
    margin: 0 0 20px 0;
}
.check_area{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item_price_area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price_union{
    display: flex;
    justify-content: end;

}
.point_option{
    position: relative;
}
.point_option input[type="number"]::-webkit-inner-spin-button,
.point_option input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    display: none;
}
.point_input{
    width: 100%;
    height: 40px;
}
.use_point{
    position: absolute;
    width: 80px;
    height: 40px;
    right: 0;
}
.order_btn{
    display: flex;
    justify-content: space-between;
}
.order_btn button:nth-child(1){
    width: 110px;
    height: 60px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #adadad;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.order_btn button:nth-child(1):hover{
    background-color: #cccccc;
}
.order_btn button:nth-child(2){
    width: 300px;
    height: 60px;
    margin: 10px 0;
    background-color: #59B9FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
.order_btn button:nth-child(2):hover{
    background-color: #3daeff;
}